<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <p>I'm so happy that this message is under jenkins's deployment.</p>
        </div>
    </main>

    <footer>
    </footer>

</body>

</html>